@keyframes scroll {
  0% {
    transform: translateX(-400%);
  }
  9.4% {
    transform: translateX(-300%);
  }
  25% {
    transform: translateX(-300%);
  }
  34.4% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  59.4% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
  84.4% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* mobile first */
.carousel_container {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 60%;
  transform: translateX(-20%);
}

.carousel_container img {
  display: flex;
  flex: 1;
  transform: translateX(-400%);
  animation: scroll 32s ease infinite;
  animation-delay: 5s;
  aspect-ratio: auto;
}

@media (min-width: 640px) {
  .carousel_container {
    transform: translateX(0%);
    min-height: initial;
  }

  .carousel_container img {
    width: 100%;
    aspect-ratio: auto;
  }
}

@media (min-width: 1024px) {
  .carousel_container {
    transform: translateX(0%);
    min-height: initial;
  }
  .carousel_container img {
    width: 100%;
    aspect-ratio: auto;
  }
}

#parent_portal {
  background-color: yellow;
  border: 2px solid orange;
}
