@keyframes scroll {
  0% {
    transform: translateX(-400%);
  }
  9.4% {
    transform: translateX(-300%);
  }
  25% {
    transform: translateX(-300%);
  }
  34.4% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  59.4% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
  84.4% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* mobile first */
.carousel_container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 66vh;
  /* center the carousel */
  transform: translateX(calc(1440px * 0.66 * -1 / 2));
}

.carousel_container img {
  display: flex;
  flex: 1;
  transform: translateX(-400%);
  animation: scroll 32s ease infinite;
  animation-delay: 5s;
}

@media (min-width: 640px) {
  .carousel_container {
    height: auto;
    transform: translateX(0%);
  }

  .carousel_container img {
    width: 100vw;
  }
}

@media (min-width: 1024px) {
  .carousel_container {
    transform: translateX(0%);
    min-height: auto;
  }
  .carousel_container img {
    min-width: 100%;
    aspect-ratio: auto;
  }
}
