:root {
  --orange-default: #ff9900;
  --orange-hover: #ffa927;
}

html {
  min-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  margin: 0px;
  min-width: 100vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #151515;
}

button {
  display: flex;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alfa Slab One", cursive;
}

h1 {
  flex: 4;
  font-size: 3rem;
  color: var(--orange-default);
  font-weight: bold;
}

h2 {
  color: var(--orange-default);
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-weight: 400;
  flex: 6;
}

.main_wrapper {
  width: 100vw;
  height: 100vh;
}

/* Modal */
/* ============= */

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  width: 90%;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.modal_container img {
  position: absolute;
  top: 2rem;
  align-self: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.modal_container img:hover {
  transform: scale(1.1);
}

.modal_content {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 4rem 0;
  text-align: center;
  gap: 2rem;
}

.modal_container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modal_container input {
  font-family: "Open Sans", sans-serif;
  height: 3rem;
  border: 2px solid gray;
  font-size: 1rem;
  padding: 0 0.5rem;
}

.modal_container input[type="submit"] {
  height: 3rem;
  background-color: var(--orange-default);
  color: #151515;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal_container input[type="submit"]:hover {
  background-color: var(--orange-hover);
}

@media (min-width: 1024px) {
  .modal_container {
    max-width: 45%;
    width: 45%;
  }

  .modal_content {
    margin: 2rem 6rem;
    padding: 4rem 10%;
  }

  .modal_container img {
    left: 2rem;
  }
}

/* Modal Animations*/
/* ============= */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-5%);
  }
}

.modal_default {
  opacity: 0;
  animation: fadeIn 0.5s ease;
  animation-delay: 1s;
}

.shown {
  opacity: 1;
}

.hidden {
  opacity: 1;
  animation: fadeOut 0.5s ease;
}

.slideIn {
  animation: slideIn 0.5s ease;
  animation-delay: 1s;
}

.slideOut {
  animation: slideOut 0.5s ease;
}

/* Hero Section */
/* ============= */

.hero_section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero_section nav {
  display: flex;
  position: absolute;
  max-width: 100vw;
  height: 66vh;
  top: 0;
  right: 0;
}

.hero_section ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3rem;
  z-index: 2;
}

.hero_nav img {
  width: 100%;
  margin-top: -10%;
}

.hero_nav li {
  list-style-type: none;
}

.hero_sponsors_section {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  height: 100%;
  background-color: #f5f5f5;
}

.hero_sponsors_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  margin: 3rem;
  gap: 3rem;
}

.hero_sponsors_container::before {
  content: "In partnership with";
  position: absolute;
  align-self: center;
  top: -4rem;
  font-weight: bolder;
  font-size: 1rem;
}

.hero_sponsors_container img {
  max-height: 100%;
  aspect-ratio: auto;
}

#parent_portal {
  padding: 0.5rem 0.7rem;
  background-color: var(--orange-default);
  border-radius: 0.5rem;
  border: none;
  gap: 1rem;
  transition: 0.2s ease;
  white-space: nowrap;
}

#parent_portal:hover {
  cursor: pointer;
  background-color: #fdaf29;
}

#parent_portal:focus {
  box-shadow: 2px 0 0 0 2px #ffc45e;
}

#parent_portal:active {
  background-color: #ffc45e;
}

@media (min-width: 640px) {
  .hero_section nav {
    height: auto;
  }

  .hero_section ul {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero_nav img {
    width: 90%;
    max-width: 80%;
    margin-top: -10%;
  }

  .hero_sponsors_container {
    height: 50%;
    flex-direction: row;
  }

  .hero_sponsors_container img {
    max-height: 20%;
    aspect-ratio: auto;
  }
}

/* About Sections */
/* ============= */

.about_section {
  position: relative;
  color: #f5f5f5;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 12vw;
  gap: 3rem;
}

.about_section h1 {
  text-align: center;
}

@media (min-width: 640px) {
  .about_section {
    flex-direction: row;
  }

  .about_section h1 {
    text-align: start;
  }
}

/* Coaching Staff Section */
/* ===================== */

.about_staff_section {
  position: relative;
  color: #f5f5f5;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about_staff_section h1 {
  text-align: center;
}

.about_staff_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about_staff {
  flex: 1;
  color: #151515;
  background-color: #f5f5f5;
  padding: 3rem;
}

.about_staff h3 {
  font-family: "Open Sans", sans-serif;
}

.about_section::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 33%;
  max-width: 430px;
  height: 1px;
  background-color: var(--orange-default);
}

@media (min-width: 640px) {
  .about_staff_container {
    flex-direction: column;
  }

  .about_staff_section {
    padding: 5rem 5vw;
  }
}

@media (min-width: 1280px) {
  .about_staff_section h1 {
    text-align: inherit;
  }
  .about_staff_container {
    flex-direction: row;
  }
  .about_staff_section {
    padding: 5rem 18vw;
  }
}

/* Thank Sponsors Section */
/* ===================== */

.thank_sponsors_section {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.thank_sponsors_section #footer_image {
  position: absolute;
  height: 100%;
  aspect-ratio: auto;
  z-index: -1;
}

.thank_sponsors_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 2rem;
}

.thank_sponsors_container h2 {
  max-width: 400px;
}

.thank_sponsors {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  max-width: 650px;
  gap: 3rem;
}

@media (min-width: 640px) {
  .thank_sponsors_section #footer_image {
    position: absolute;
    width: 100%;
    max-width: 100%;
    z-index: -1;
  }

  .thank_sponsors {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .thank_sponsors_section #footer_image {
    height: auto;
  }
}

/* Form Subscribe Section */
/* ===================== */

.stay_updated_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  padding: 6rem 0;
}
.stay_updated_container {
  min-width: 27rem;
  background-color: #151515;
}

.stay_updated_container h1 {
  margin: 2rem 2rem;
}
.stay_updated_container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.stay_updated_container input {
  font-family: "Open Sans", sans-serif;
  height: 3rem;
}

.stay_updated_container input[type="submit"] {
  height: 3rem;
  background-color: var(--orange-default);
  color: #151515;
  margin-top: 2rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.stay_updated_container input[type="submit"]:hover {
  background-color: var(--orange-hover);
}
